<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>GeekBrains - FORM</title>
    </head>
    <body>
        <h1>Форма отправки данных</h1>
        <h1>Для добавления студента введите его имя и количечтво очков, для корректировки введите id и новые параметры</h1>
        <form action="#" th:action="@{/students}" method="POST" th:object="${students}">
            Student ID: <input type="text" name="id" class="form-control" placeholder="ID">
            <br>
            Student Name: <input type="text" name="name" class="form-control" placeholder="Имя">
            <br>
            Student score: <input type="text" name="score" placeholder="оценка" />
            <br>
            <button type="submit">Отправить</button>
        </form>

        <h1>Найти студента по id</h1>
        <form action="#" th:action="@{/profile}" method="POST">
            Student ID: <input type="text" name="id" class="form-control" placeholder="ID">
            <br>
            <button type="submit">Найти</button>
        </form>



        <h1>Список студентов</h1>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr th:each="student : ${students}">
                         <td th:text="${student.id}"></td>
                         <td th:text="*{student.name}"></td>
                         <td th:text="*{student.score}"></td>

                </tr>
            </table>
        </form>
    </body>
</html>